*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lato";
    
}
body, html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
h2{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 18px;
}
h3{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 8px;
}
p{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

/* Header */

.header{
    background: #2d303a;
    box-shadow:  0px 7px 0px 0px rgba(50,55,70,1);
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    opacity: 100%;
    z-index: 10;
    margin-top: -6px;
}
.header__inner{
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    font-weight: 700;
}
.logo a{
    color: white;
    text-decoration: none;
}
.logo__star{
    color:#e66862;
}
.navigation ul{
    display: flex;
    height: 30px;
    width: 370px;
    margin-top: 23px;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    font-weight: 700;
    list-style-type: none;
}
.navigation ul li a{
    color: white;
    text-decoration: none;
    transition: .2s;
}
.navigation>ul :not(:first-child):before{
    content: "\00B7\00A0\00A0\00A0\00A0\00A0";
    color: #494e62;
  }
.navigation ul li a:hover{
    color: #e66862;
}

.navigation .active {
    color: #e66862;
}

/* Slider */

.slider{
    background: #f06c64;
    padding-top: 90px;
    height: 594px;
    box-shadow:  0px 6px 0px 0px #ea676b;
}
.slider__inner{
    display: flex;
    height: 594px;
    align-items: center;
}
.left__button{
    cursor: pointer;
    width: 1.7%;
    transition: .2s;
    margin-left: 2px
}
.left__button:hover{
    opacity: 70%;

}
.content{
    width: 96.6%;
    justify-content: space-between;
}
.vertical__iphone{
    position: relative;
    left:55px;
    display: inline-block;
}
.display{
    position: absolute;
    z-index: 2;
    overflow: hidden;
    width: 189px;
    height: 333px;
    top: 65px;
    left: 14px;
}
.iphone{
    position:absolute;
    z-index: 1;
}
.horizontal__iphone{
    position: relative;
    display: inline-block;
    transform: rotate(90deg);
    left:245px;
    top:-3px;
}
.display__2{
    position: absolute;
    z-index: 2;
    overflow: hidden;
    width: 189px;
    height: 333px;
    top: 90px;
    left: 14px;
}
.iphone__2{
    position: absolute;
    z-index: 1;
    top:25px
}
.right__button{
    cursor: pointer;
    width: 1.7%;
    transition: .2s;
}
.right__button:hover{
    opacity: 70%;

}

/* Our Services */

.services{
    background: #f2f2f2;
    box-sizing: border-box;
    height: 494px;
    padding: 60px 0;
    margin: 6px 0;
    color: #666d89;
    box-shadow: 0px 6px 0px 0px white;
}
.services__inner>p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    text-align: justify;
    line-height: 30px;
}
.table{
    height: 246px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 20px;
    position: relative;
    top: 43px;
}
.icon{
    margin-right: 22px;
    margin-top:4px
}
.item{
    display: flex;
    text-align: justify;
}
.text h3{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 9px;
}
.text p{
    font-size: 12px;
    font-weight: 400px;
    line-height: 21px;
}

/* Portfolio */

.portfolio{
    background-color: #2d303a;
    color: #666d89;
    box-shadow:  0px 6px 0px 0px #323746;
}
.portfolio__inner{
    height: 757px;
    padding: 60px 0 46px;
}
.portfolio__inner ul{
    display: flex;
    padding: 9px 1px;
}
.portfolio__inner li{
    display: block;
    border: 1px solid #666d89;
    border-radius: 5px;
    margin-top: 2px;
    margin-right: 10px;
    padding: 2px 6px;
    font-size: 12px;
}
.portfolio__inner li a{
    color: #666d89;
    text-decoration: none;
    
}
.portfolio__inner .selected {
    border-color: white;
}
.portfolio__inner .selected a{
    color: white;
}
.portfolio__inner ul li a:hover{
    color: #ccc;
}
/* gallery */

.gallery{
    height: 601px;
    overflow: hidden;
    margin-top: 11px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.gallery div{
    overflow: hidden;
}
.gallery div:nth-child(1n + 13){
    display: none;
}
/* About us */

.about-us{
    background-color: #f2f2f2;
    box-shadow:  0px 6px 0px 0px white;
    color: #666d89;
    height: 669px;
    padding-top: 59px;
    margin-top: 6px;
    text-align: justify;
}
.persons{
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
}
.persons h3{
    padding-bottom: 3px;
    font-weight: 900;

    letter-spacing: -0.5px;
}
.persons p{
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    text-align: justify;
}
.persons__person{
    width: 302px;
    display: inline-block;
}
.person_pic{
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-bottom: 16px;
}
.social_media{
    padding:26px 1px;
}
.social_media span{
    padding-right:  5px;
}
.facebook:hover{
    opacity: 50%;
}
.googleplus:hover{
    opacity: 50%;
}
.twitter:hover{
    opacity: 50%;
}
.linkedin:hover{
    opacity: 50%;
}
.facebook{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(assets/socialmedia/Facebook.png);
    background-repeat: no-repeat;
}
.googleplus{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(assets/socialmedia/Google.png);
    background-repeat: no-repeat;
}
.twitter{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(assets/socialmedia/Twitter.png);
    background-repeat: no-repeat;
}
.linkedin{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image:url(assets/socialmedia/LinkedIn.png) ;
    background-repeat: no-repeat;
}

/* Get a Quote */

.form{
    background-color: #f06c64;
    color: #f0d8d9;
    margin-top: 6px;
    padding: 60px 0;
    height: 528px;
    box-shadow: 0 6px 0 0 #ea676b;
}
.form__inner{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}
.form__form{
    display: inline-block;
    width: 66%;
    margin: 0;
    margin-top: 43px;
}
.input{
    background-color: #d6564f;
    border: none;
    color: #f0d8d9;
    width: 605px;
    height: 38px;
    margin-bottom: 16px;
    border-radius: 5px;
    padding-left: 14px;
    font-size: 11px;
    font-weight: 400;
}
.input::placeholder{
    color:#f08586;
    margin-left: 100px;
}
.textarea{
    margin: 0;
    height: 182px;
    width: 591px;
    resize: none;
    padding: 10px 14px;
    font-size: 12px;
    font-weight: 400;
    font-family: Lato;
    letter-spacing: 0px;
}
.submit{
    background-color: #d6564f;
    color: #f0d8d9;
    border: none;
    width: 100px;
    height: 37px;
    border-radius: 5px;
    margin-top: 16px;
    cursor: pointer;
}
.input:hover{
    box-shadow: 0px 0px 5px 0px #2d303a;
}
.submit:hover{
    box-shadow: 0px 0px 5px 0px #2d303a;
}
.contact{
    display: inline-block;
    width: 299px;
    margin-top: 41px;
    margin-left: 20px;
}
.contact>p{
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
}
.contact__info{
    margin-top: 20px;
}
.contact__info a{
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    text-decoration: none;
    color: #f0d8d9;
}
.contact__info span{
    margin-right: 11px;
}
.location{
    background-image: url(assets/icons/location.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
}
.phone{
    background-image: url(assets/icons/phone.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
}
.mail{
    background-image: url(assets/icons/mail.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 12px;
    height: 12px;
}

/* Footer */

.footer{
    background-color: #2d303a;
    height: 76px;
    margin-top: 6px;
    color: #666d89;
}
.footer__inner{
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.footer__inner .social_media{
    margin-right: -6px;
}